[data]
{{- $hostname := .chezmoi.hostname }}
{{- $profile := "workstation" }}

{{- if or (contains "Homebridge" $hostname) (contains "hb" (lower $hostname)) }}
{{-   $profile = "minimal" }}
{{- else if or (eq $hostname "M1") (contains "automation" (lower $hostname)) }}
{{-   $profile = "server" }}
{{- end }}

    hostname = {{ $hostname | quote }}
    profile = {{ $profile | quote }}
    username = {{ .chezmoi.username | quote }}
