# =============================================================================
# Environment Secrets - NOT tracked by git
# Machine: {{ .hostname }}
# =============================================================================

{{- if eq .profile "workstation" }}
# GitHub CLI
export GITHUB_TOKEN=""

# Trello
export TRELLO_API_KEY=""
export TRELLO_TOKEN=""

# Slack
export SLACK_BOT_TOKEN=""
export SLACK_USER_TOKEN=""
{{- end }}
