<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>com.m1.ngrok</string>

        <key>ProgramArguments</key>
        <array>
      		<string>/opt/homebrew/bin/ngrok</string>
     		<string>http</string>
      		<string>--url=charming-yeti-safely.ngrok-free.app</string>
      		<string>5001</string>
        </array>

        <key>StandardOutPath</key>
        <string>/Users/Apple/Library/Logs/ngrok.out.log</string>

        <key>StandardErrorPath</key>
        <string>/Users/Apple/Library/Logs/ngrok.err.log</string>
        <key>RunAtLoad</key>
        <true/>
        <key>KeepAlive</key>
        <true/>
    </dict>
</plist>